name: lazytrivy release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOCACHE: ${{ github.workspace }}/.gocache
      GOMODCACHE: ${{ github.workspace }}/.gomodcache

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: Free space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
          rm -rf ~/.cache/go-build || true
          df -h

      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ github.token }}

